[submodule "ioxkl17"]
	path = ioxkl17
	url = https://github.com/GDGKualaLumpur/ioxkl17.git
[submodule "app/tfxkl17"]
	path = app/tfxkl17
	url = https://github.com/GDGKualaLumpur/tfxkl2017.git
[submodule "ioxkl16"]
	path = ioxkl16
	url = https://github.com/GDGKualaLumpur/ioxkl2016.git
[submodule "app/letsencrypt"]
	path = app/letsencrypt
	url = https://github.com/AirConsole/letsencrypt
[submodule "app/jomcodekl17"]
	path = app/jomcodekl17
	url = https://github.com/GDGKualaLumpur/jomcodekl17
[submodule "ioxkl18"]
	path = ioxkl18
	url = https://github.com/GDGKualaLumpur/ioxkl18
